# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.terraform

terraform/.terraform
**/.terraform/


# --- ADD THESE LINES TO YOUR .gitignore ---

# Ignore the terraform state files inside any folder
**/*.tfstate
**/*.tfstate.backup

# Ignore the log files inside any logs folder
**/logs/*.log
**/logs/*.log.gz

# Ignore temporary plan output files
**/tfplan
**/plan.out

terraform/secrets.tf

.vscode