/* Make containers visible */
#dashboard {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20;
}

#formContainer {
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-padding: 15;
}


.no-border-form {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent; /* optional */
    -fx-padding: 0; /* optional */
}

.form-renderer > * {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.register-button:hover {
    -fx-scale: 105;
}